<%# <% if false %>
  <%# <% if current_user.present? %>
    <% content_for :search do %>
      <div>
        <%= search_form_for @places do |f| %>
        <%= f.text_field :name_cont, class: "radius-left expand", placeholder: "Name" %>
        <%= f.text_field :address_cont, class: "radius-left expand", placeholder: "Address" %>
        <%= f.submit "Search", id: "submit-search-btn" %>
        <% end %>
      </div>
    <% end %>
  <%# <% end %>
<%# <% end %>

<div id="search-box-container">
  <div id="search-box">
    <%= yield(:search) %>
  </div>
</div>

<% @results.each do |result| %>
  <div class="badass-box badass-box2 col-xs-10 col-xs-offset-1">
    <h1><%= link_to result.name, place_path(result) %></h1>
    <i><%= result.address %></i><br />
    <% if result.url.present? %>
      <i class="contact"><%= link_to result.url, "#{result.url}" %></i><br />
    <% end %>
    <% if result.phone_number.present? %>
      <i class="glyphicon glyphicon-earphone"></i>
      <a class="contact" href="tel:<%= result.phone_number %>"><%= result.phone_number %></a>
    <% end %>

    <br />

    <% if result.photos.last.present? %>
      <div class="index-picture">
        <%= image_tag result.photos.last.picture, class: "img-responsive" %>
      </div>
    <% end %>

    <% if result.comments.present? == false%>
      <p><%= result.description %></p>
    <% end %>

  <% if result.comments.present? %>
    <div class="col-xs-12">
      <blockquote>
        <% if result.comments.last.humanized_rating.present? %>
          <b><%= result.comments.last.humanized_rating %></b>
        <% end %>
          <%= result.comments.last.message %>
        <small><%= result.comments.last.user.email %></small>
      </blockquote>
    </div>
  <% end %>


    <% if result.user.present? %>
      <i class="user">Posted by:</i>
      <small><%= result.user.email %></small>
    <% end %>

  </div>


<% end %>


