<%# <% if false %>
  <%# <% if current_user.present? %>
    <% content_for :search do %>
      <div>
        <%= search_form_for @places do |f| %>
        <%= f.text_field :name_cont, class: "radius-left expand", placeholder: "Name" %>
        <%= f.text_field :address_cont, class: "radius-left expand", placeholder: "Address" %>
        <%= f.submit "Search", id: "submit-search-btn" %>
        <% end %>
      </div>
    <% end %>
  <%# <% end %>
<%# <% end %>



<!-- CAROUSEL -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item">
      <%= image_tag 'slider1.JPG' %>
      <div class="carousel-captions">
        Xel-ha
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider2.JPG' %>
      <div class="carousel-captions">
        Royal Caribbean Cancun
      </div>
    </div>
    <div class="item active">
      <%= image_tag 'slider3.JPG' %>
      <div class="carousel-captions">
        Xcaret, Mexico
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="search-box-container">
  <div id="search-box">
    <%= yield(:search) %>
  </div>
</div>


<% @results.each do |result| %>
  <div class="badass-box badass-box2 col-xs-10 col-xs-offset-1">
    <h1><%= link_to result.name, place_path(result) %></h1>
    <i><%= result.address %></i><br />
    <% if result.url.present? %>
      <i class="contact"><%= link_to result.url, "#{result.url}" %></i><br />
    <% end %>
    <% if result.phone_number.present? %>
      <i class="glyphicon glyphicon-earphone call-icon"></i>
      <a class="contact" href="tel:<%= result.phone_number %>"><%= result.phone_number %></a>
    <% end %>

    <br />

    <% if result.photos.last.present? %>
      <div class="index-picture">
        <%= image_tag result.photos.last.picture, :size => "100x100" %>
      </div>
    <% end %>

    <% if result.comments.present? == false%>
      <p><%= result.description %></p>
    <% end %>

  <% if result.comments.present? %>
    <div class="col-xs-12">
      <blockquote>
        <% if result.comments.last.humanized_rating.present? %>
          <b><%= result.comments.last.humanized_rating %></b>
        <% end %>
          <%= result.comments.last.message %>
        <small><%= result.comments.last.user.email %></small>
      </blockquote>
    </div>
  <% end %>


    <% if result.user.present? %>
      <i class="user">Posted by:</i>
      <small><%= result.user.email %></small>
    <% end %>

  </div>


<% end %>


